# macOS
.DS_Store

# dependencies
/node_modules

# testing
/coverage

# next.js / vinext
/.next/
/.vinext/
/out/
/build

# cloudflare
/.wrangler/

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example
.dev.vars

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
/supabase/.branches
/supabase/.temp
